.visualization {
  display: flex;
  flex-direction: row;
}

.visualizationList {
  display: flex;
  flex: 25;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.plot {
  flex: 8;
  height: 100%;
}
