.animation {
  padding: 0 15px 0 15px
}

.animationLabel {
  flex: 4;
  vertical-align: middle;
}

button.formula {
  background-color: #f0f8ff;
  border: 1px solid black;
  margin-left: 4px;
  outline: none;
  vertical-align: top;
}

button.selected {
  background-color: #aaf;
  color: #fff;
}

.buffer {
  flex: 1;
}

.visualizationItem {
  display: flex;
  flex: 18;
  flex-direction: row;
  height: 2em
}
