/* TODO: flex prefixes */

body {
  font-family: helvetica;
  font-size: 14pt;
}

button.formula {
  background-color: #f0f8ff;
  border: 1px solid;
  margin-left: 4px;
  outline: none;
  vertical-align: top;
}

button.selected {
  background-color: #faa;
}
