.page {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
}

.buffer {
  flex: 1;
  opacity: 0;
}

.button {
  border: none;
  background-color: #EEE;
  color: #000;
  display: block;
  padding: 0.1em 0.2em;
}

.button.selected {
  background-color: #00F;
  color: #FFF;
}

.autoplay {
  flex: 1.5;
}

.manual {
  flex: 1.5;
}

.slider {
  flex: 18;
}
