.page {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
}

.buffer {
  flex: 1;
  opacity: 0;
}

.autoplay {
  flex: 4;
  padding: 0;
}

.manual {
  flex: 18;
}
