.page {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
}

.buffer {
  flex: 1;
  opacity: 0;
}

button.mode {
  background-color: #f0f8ff;
  border: solid black;
  color: #000;
  display: block;
  outline: 0;
  padding: 0.1em 0.2em;
}

button.left {
  border-width: 1px 0 1px 1px;
}

button.right {
  border-width: 1px 1px 1px 0;
}

button.selected {
  background-color: #aaF;
  color: #fff;
}

.autoplay {
  flex: 1.5;
}

.manual {
  flex: 1.5;
}

.slider {
  flex: 18;
}
